* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#root {
  background: black;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-container {
  background: #677a90;
  width: 80%;
  min-width: 700px;
  max-width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.calc-container > div {
  width: 24%;
  height: 90%;
  border: 2px solid #1a3359;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 10px;
}

.miscrit {
  background: #42556a;
}

.card-number {
  color: #b6c8e1;
  font-size: 1.5rem;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 10px;
}

.miscrit > button {
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: 900;
}

.white-stat {
  color: white;
}

.red-stat {
  color: red;
}

.green-stat {
  color: lime;
}

.miscrit-rating-legend {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

.Splus, .S{
  color: orange;
  font-weight: 900;
}

.Aplus, .A {
  color: red;
  font-weight: 900;
}

.Bplus, .B {
  color: lime;
  font-weight: 900;
}

.Cplus, .C {
  color: magenta;
  font-weight: 900;
}

.Dplus, .D {
  color: yellow;
  font-weight: 900;
}

.Fminus, .Fplus, .F {
  color: gray;
  font-weight: 900;
}

.result-container {
  background: #42556a;
}

.result-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 900;
  position: absolute;
  top: 0;
}

.rating-possibilities-container {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.rating-possibilities-container span {
}

.prob-100{
  font-weight: 900;
  color: red;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.prob-60 {
  font-weight: 900;
  color: orange;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.prob-40 {
  font-weight: 700;
  color: yellow;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.prob-20 {
  font-weight: 700;
  color: lightgreen;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.prob-10 {
  font-weight: 700;
  color: lightblue;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.prob-1 {
  font-weight: 500;
  color: gray;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.prob-0 {
  font-weight: 100 !important;
  color: white;
}

@media (width < 987px) {
  .calc-container {
    text-align: center;
    flex-wrap: wrap;
    min-width: 300px;
    width: auto;
    height: auto;
    row-gap: 10px;
    margin: 10px;
  }

  .calc-container > div {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .result-container {
    margin-top: 0 !important;
    width: 90% !important;
  }

  .rating-possibilities-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: start;
  }
}